#car h3 {
  font: 16px/52px "";
  color: #333;
  height: 52px; }

#car .top {
  height: 40px;
  background: #ff9000;
  color: #fff;
  font: 14px/40px "";
  text-align: center;
  overflow: hidden; }
  #car .top span {
    display: block;
    float: left;
    width: 200px; }

#car ul li {
  overflow: hidden;
  border: 1px solid #eee; }
  #car ul li img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 50px; }
  #car ul li span {
    display: block;
    float: left;
    font: 12px/100px "";
    text-align: center;
    width: 200px; 
    height: 100px;
    overflow: hidden;}
  #car ul li b {
    display: block;
    float: left;
    font: 12px/100px "";
    text-align: center;
    width: 200px; }
  #car ul li .add {
    display: block;
    float: left;
    outline: none;
    width: 100px;
    height: 40px;
    margin: 30px 50px; }
  #car ul li i {
    display: block;
    float: left;
    font: 12px/100px "";
    text-align: center;
    width: 200px; }
  #car ul li .del {
    display: block;
    float: left;
    outline: none;
    background: #ff9000;
    color: #fff;
    width: 50px;
    height: 30px;
    font: 16px/20px "";
    border: none;
    margin: 30px 70px;
    cursor: pointer; }

#car .summary {
  height: 40px; }
  #car .summary img {
    display: block;
    float: left;
    margin: 15px 0 0 20px;
    cursor: pointer; }
  #car .summary span {
    display: block;
    float: right;
    font: 16px/40px ""; }
  #car .summary b {
    display: block;
    float: right;
    font: 16px/40px "";
    margin: 0 10px;
    color: #ff9000; }
