#list .list {
  width: 250px;
  height: 400px;
  border: 1px solid #eee;
  margin: 10px 10px 0 0;
  float: left;
  box-sizing: border-box;
  padding: 40px 35px 0 35px; }
  #list .list img {
    width: 175px;
    height: 175px;
    margin-bottom: 40px;
    display: block; }
  #list .list span {
    color: #1b1b15;
    font-size: 14px;
    height: 16px;
    overflow: hidden;
    display: block; }
  #list .list b {
    display: block;
    font: 14px/38px "";
    color: #929292; }
  #list .list s {
    display: block;
    font: 700 16px/22px "";
    color: #ff6900; }
